.home{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.slogan{
text-align: center;
font-size: 12px;
padding-top: 30px;
padding-bottom: 30px;
font-size: 1.2rem;
}

p{
font-size: 1rem;
}
.recherchemodel{
    margin: 10px;
    display: flex;
    width: 20vw;
    border-radius: 30px #BC4749;
    background-color: var(--third-color);
}
.history p {
    width: 70%;

}
.history{
    width: 80%;
    padding: 10px;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    border-radius: 30px;
}