.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slogan {
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  font-size: 16px;
}

.paragraph {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph p {
  font-size: 1.2rem;
  background-color: var(--second-color);
  width: 80%;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
}

.recherchemodel {
  margin-bottom: 2rem;
  height: 5vh;
  width: 25vw;
  border-radius: 30px;
  background-color: var(--third-color);
}
.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}

select {
  background-color: var(--main-color);
  border-radius: 30px;
  width: 50%;
  text-align: center;
  margin-bottom: 0.5rem;
}

select:last-of-type {
  width: 82%;
}

select option {
  border: 1px solid var(--third-color);
  text-decoration: none;
  text-align: center;
  color: var(--third-color);
}

.recherchemodel {
  margin-bottom: 2rem;
  height: 5vh;
  width: 9vw;
  border-radius: 30px;
  background-color: var(--third-color);
}

@media screen and (max-width: 767px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slogan {
    text-align: center;
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  p {
    font-size: 16px;
  }

  .paragraph {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .paragraph p {
    font-size: 1.2rem;
    background-color: var(--second-color);
    width: 80%;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
  }

  .recherchemodel {
    margin-bottom: 2rem;
    height: 5vh;
    width: 25vw;
    border-radius: 30px;
    background-color: var(--third-color);
  }
  .select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  select {
    background-color: var(--main-color);
    border-radius: 30px;
    width: 50%;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  select:last-of-type {
    width: 82%;
  }

  select option {
    border: 1px solid var(--third-color);
    text-decoration: none;
    color: var(--third-color);
  }
}
